marinedebrisdetector.egg-info
build
*.npz
*.tif
*durban_20190424*
venv
.idea
checkpoints
**__pycache__
wandb
.ipynb_checkpoints
notebooks
*.out
lightning_logs
marinedebrisdetector/wandb
comparisons/rf_classifier_marida_original.joblib
comparisons/test_log/
dist/
rf_classifier_marida_original.joblib
test_log/
